/* GENERAL < */
html {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #cacdcf;;
}

body {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgba(22, 22, 22, 0.973);
}

h1 {
    margin: auto;
    font-size: 3rem;
    font-weight: 100;    
    color: #cacdcf;
}

h2 {
    text-align: center;
    font-weight: 300;
    color: #1dd9ff;
}

p {
    font-size: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    margin: auto;
    width: 80%;
    gap: 3rem;    
}

.p-title {
    width: 100%;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 2rem;
}

ul {
    margin-right: 2rem;
    color: rgb(220, 224, 227);
}

.border {
    border-radius: 30px;
    border-bottom: #00bbfff3 solid 2px;
}

.collage {
    width: 95%;
    margin: 5rem auto;
    height: auto;
    padding:1rem 0rem;      
    background-color: #242424ad;
    border-radius: 30px;
    border-bottom: #00bbfff3 solid 2px;
}
    .collage img {
        width: 5%;
        margin: 1rem;
    }

a {
    text-decoration: none;
    color: #bcbfc2;
}

i {
    font-size: 40px;
}

.gradient {
    background-image: linear-gradient(#000000, #000000b2, #10101005);
}

.fullscreen {
    height: 100vh;
}

#Hero {
    background-image: url(/Media/bkg.png);
    background-position: center;
}
    #Hero div {
        margin-top: 20%;
    }
/* GENERAL > */

/* HEADER < */
#header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    height: 6rem;
    width: 100%;
    background-color: rgb(23, 23, 23);
    z-index: 1;
}
    #logo {
        height: 7rem;
    }

    nav {
        margin-top: 2%;
    }

        nav a {
            color: rgb(247, 247, 247);
            font-size: 20px;
            margin: 2rem;
        }
            nav a:hover {
                color: grey;
            }
/* HEADER > */

/* SERVICII < */

#servicii .grid {
    grid-template-columns: 1fr 1fr 1fr;        
}

.serviciu {
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0rem;
    font-size: 130%;
    margin: 5rem auto;        
    background-color: rgba(0, 0, 0, 0.238);
}
    .serviciu h2 {
        text-align: center;
        font-weight: 300;
        color: #1dd9ff;
    }

    .serv-img {
        width: 30%;
        margin: 0rem auto;
    }

    .serviciu ul {
        margin-right: 2rem;
        font-size: 25px;
        color: rgb(220, 224, 227);
    }

/* SERVICII > */  

/* PROIECTE < */

#proiecte .grid {
    grid-template-columns: 1fr 1fr;
    }

    #proiecte img {
        width: 100%;
    }

.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5rem auto;
    flex-direction: column;
    padding:1rem 0rem;      
    background-color: #242424ad;
    border-radius: 30px;
    border-bottom: #00bbfff3 solid 2px;
    }


    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        }
    
    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }
/* PROIECTE > */ 

/*  CLIENTI < */
#clienti .collage {
    display: flex;
    justify-content:space-around;
    width: 70%;
}
    #clienti img {
        width: 10%;
    }
/*  CLIENTI > */

/*  CONTACT < */
#contact {
    text-align: center;
}
    #contact .grid {
        grid-template-columns: 1fr 1fr;
    }

    #contact img {
        width: 50%;
        margin: auto;
    }

    #contact a {
        font-size: 2rem;
        line-height: normal;
    }

    .address {
        flex-direction: column;
    }

    .icons a {
        margin: 5px
    }
/*  CONTACT > */

/*  FOOTER < */
footer {
    text-align: center;
}
/*  FOOTER > */

/*      MEDIA QUERY   <  */
@media (max-width:1400px) {     /*      1400px        */

    #contact {
        margin: 30% auto 2rem;
    }

    nav a{
        font-size: 15px;
    }

    .serviciu ul {
        font-size: 20px;
    }
}

@media (max-width:1000px) {
    #Hero {
        height: 100vh;
    }
        h1 {
            font-size: 20px;
        }
        #Hero h2 {
            font-size: 15px;
        }
    #servicii {
        height: auto;
    }

    #servicii .grid {
        grid-template-columns: 1fr;
    }
    #servicii h2 {
        font-size: 18px;
    }

    #contact h2{
        font-size: 18px;
    }

    #contact a {
        font-size: 15px;
    }

    .serviciu ul {
        font-size: 18px;
    }
}

@media (max-width:700px) {

    #Hero div {
        margin-top: 40%;
    }

    h1 {
        padding-bottom: 0%;
        font-size: 18px;
    }

    h2 {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    #banner {
        margin: auto;
        width: 100%;
    }


    #header nav {
        margin-top: 3rem;
    }

        #header nav a {
            font-size: 12px;
            margin-left: 0%;
        }

    #servicii .grid {
        grid-template-columns: 1fr;
    }

    #proiecte .grid {
        grid-template-columns: 1fr;
    }

    #contact .grid {
        grid-template-columns: 1fr;
    }

    .serviciu {
        margin: auto;
    }
    .container {
        margin: auto;
    }

    #techs img {
        width: 10%;
    }

    #clienti img {
        width: 12%;
    }

    .contact {
        border: none;
    }
        #contact a {
            font-size: 18px;
        }

        #contact i {
            font-size: 18px;
        }

        #contact h1 {
            margin-bottom: 1rem;
        }

    #contact > p {
        font-size: 8px;
        margin: 2rem 0rem 0rem 0rem;
    }

}

@media (max-width:400px) {
    #Hero div {
        margin-top: 80%;
    }

    #Hero h1 {
        font-size: 15px;
        margin: 5rem 2rem 0rem 2rem;
    }

    #Hero h2 {
        font-size: 12px;
    }
}
/*      MEDIA QUERY   >  */